.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

code {
 background: #f6f6f6;
  border-radius: 0.4rem;
  font-size: 86%;
  margin: 0 .2rem;
  padding: 8px;
  white-space: nowrap;
  margin-bottom: 2.5rem;
}

pre {
  background: #f6f6f6;
  border: 0.5px solid #cbd5df;
  overflow-y: hidden;
  padding: 8px;
  width: 70%;
}

pre > code {
  border-radius: 0;
  display: block;
  padding: 3px 0px;
  white-space: pre;
}
