<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Synchro - Purchase Notification</title>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>

</head>

<body style="font-family:Verdana, Geneva, Tahoma, sans-serif;">
    <div style="padding:0.01em 16px;">
        <h5>Hi {{ username }} / {{ email }},</h5>
        <p>You purchased the following item(s) from Synchro:</p>
        <hr>
        <div style="background-color:#f2f2f2;font-style:italic;padding:0.01em 4px;margin:2rem;">
            {% for x in items %}
            <p>Item ID: {{ x.purchases.item.id }}</p>
            <p>Item Name: {{ x.purchases.item.name }}</p>
            <p>Seller contact email: {{ x.purchases.merchant_email }}</p>
            {% endfor %}

            </div>
        <hr>
        <p>Thank you,<br><br><a href="https://www.arnelimperial.com"><strong>Synchro Team</strong></a></p>

    </div>
</body>

</html>